/*
COLORS:
 - NAVBAR: #333333
 - FORM: #ffffe6
 - INPUT-VALID: #eeffe6
*/

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
	background-color: #333333;
	color: white;
}

.container {
  padding-top: 100px;
}

.footer {
  margin-top: 60px;
}

.animate-if.ng-animate {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-if.ng-leave.ng-leave-active,
.animate-if.ng-enter {
  top:-50px;
}
.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  top:0;
}

button.navbar-icon, span.navbar-icon {
    margin-top: 7px;
    height: 35px;
    background-size: 30px 30px !important;
    background-position: left !important;
    background-repeat: no-repeat !important;
}

button.navbar-small-icon, span.navbar-small-icon {
  margin-top: 7px;
  width: 35px;
  height: 35px;
  background-size: 14px 14px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

button.up-menu-item, span.up-menu-item {
  background: transparent;
  border: none;
  opacity: 0.5;
  text-align: center; 
  transition: 0.4s;
}

button.up-menu-item:hover, span.up-menu-item:hover {
  opacity: 1;
  cursor: pointer;
}

.nav-btn-txt {
  margin-left: 31px;
}

#rightNavPanel {
  float: right;
}

#newCourseButton {
  background: url(../img/icons/edit.png);  
}

#newCourseButton > span {
  margin-left: 28px;
}

#browseMyCoursesButton {
  background: url(../img/icons/folder.png);  
}

#webinariumButton {
  background: url(../img/icons/university-lecture.png);  
  
}

#notificationsButton {  
  background: url(../img/icons/notification.png);    
}

#logoutButton {
  background: url(../img/icons/logout-sketch.png);  
}

#rightNarrowButton {
  width: 35px;
  display: block;
  background: url(../img/icons/play-button.png);
  background-size: 20px 20px !important;
  background-position: center !important;
  transform: rotate(90deg);
  margin-left: 0px;  
}

#rightCaretButton {
  width: 150px;
  background: url(../img/icons/play-button.png);
  background-size: 20px 20px !important;
  background-position: center !important;
  transform: rotate(90deg);
}

.home-header {
	text-align: center;
}

.default-form {
 
}

.default-form > input {
  padding: 100px;
}

.login-form {
	border-style: solid;
	border-width: 1px;
	background-color: #ffffe6;
	opacity: 0.8;
	padding-bottom: 20px;	 
}

.login-form:hover {
	opacity: 1;
}

.login-form input.ng-touched.ng-valid {
  background-color: #eeffe6;
}

.form-control.ng-dirty.ng-invalid {
  border-color: red;
}

.invalid-form-input-info {
  color: red;
  display: block;
  margin-bottom: 10px;
}

.form-content {
  padding: 20px;
}

.lang-selection {
  border-style: solid;
  border-width: 1px; 
  text-align: center;
  margin-top: 20px; 
}

.bordered-div {
  border-style: solid;
}

.form-header {
  background-color: #333;
  color: white;
  margin-top: 5px;
  text-align: center;
  font-size: 17px;
}

.form-title {  
  padding: 5px 10px 5px 10px;
  background: #3479b7;
  color: white;
}

.form-submit-panel {
  padding: 5px;
}

.media-element-content {
  border: 1px solid #80808052;
}

.filechooser {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.filechooser + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #3842ad;
  display: inline-block;
  padding: 10px;
  transition: 0.4s;
}

.filechooser + label:hover {
    cursor: pointer;
    background-color: red;    
}

.new-course-image-border {
  text-align: center;  
}

.new-course-image-border > div {
    text-align: center;
    height: 250px;
    width: 250px;
    margin: auto;
}

.new-course-image-default {
    background-image: url(../img/icons/write-board.png);
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center;
    opacity: 0.2;
}

/* HOME PANEL */

.popular-course {
    display: flex;
    align-items: center;
    height: 100px;
    margin: 5px;
    background-color: #fff5148f;
    box-shadow: 5px 6px 7px grey;
    transition: 0.4s;
}

.popular-course:hover {  
  box-shadow: 0px 0px 0px grey;
  cursor: pointer;
}

.popular-course-content {
  flex: 1;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.webinar {
    display: flex;
    align-items: center;
    height: 100px;
    margin: 5px;    
    box-shadow: 5px 6px 7px grey;
    transition: 0.4s;
}

.webinar:hover {  
  box-shadow: 0px 0px 0px grey;
  cursor: pointer;
}

.webinar-online {
 background-color: aquamarine;  
}

.webinar-online-content {
  flex: 1;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.webinar-offline {
  background-color: skyblue;
}

.webinar-offline-content {
  flex: 1;
  padding: 10px 10px 10px 10px;
  text-align: center;
}


/* ----------------------------- */

.my-course {  
  border: 1px solid;  
  padding: 0px;
}

.my-course:hover {  
  border: 3px solid;
  cursor: pointer;
}

.my-course-title {
  background-color: #ffffe6;
  text-align: center;
}

.course-details-background {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 0;
  left: 0;  
  background: #eca5001c;
  z-index: 1;
}

.course-details-image {
    position: absolute;
    background: white;
    width: 250px;
    height: 250px;
    z-index: 100;
    left: 50px;
    top: 60px;
    box-shadow: 0px 1px 7px grey;
}

.course-details-image > div {
    text-align: center;
    height: 250px;
    width: 250px;
    margin: auto;
}

.course-details-wrapper {
  position: relative; 
  height: 200px;
  z-index: 10;
  background-color: #ffec757a;
  padding: 0px 10px 10px 10px;
  
}
.course-details {
  margin-left: 200px;
}

.course-details-label {
  margin-bottom: 20px;
}

.course-content-wrapper {
  margin-top: 50px;
}

.course-chapter-wrapper {
  height: 40px;
  border: 1px solid;
  margin: 5px;
  padding: 0px;  
}

.course-chapter {
  background: #ffffe6;
  transition: 0.4s;
  border: 1px solid;
}

.course-chapter:hover {  
  border: 3px solid;  
}

.course-chapter > .panel-heading > a {
  text-decoration: none;  
}

.chapter-lesson {
  border: 1px solid white;
  border-radius: 4px;
  background: #333333d6;
  color: white;
  padding: 10px;
  transition: 0.4s;
}

.chapter-lesson:hover {
  background: #bd712ea3;
  cursor: pointer;
  
}

.chapter-lesson-icons {  
  text-align: right;
}

.course-button-panel {
  padding-left: 0;
}

.small-media-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;  
}

.paper-icon1 {
  background-image: url(../img/icons/media/paper1.svg);
}

.audio-icon1 {
  background-image: url(../img/icons/media/audio1.svg);
}

.photo-icon1 {
  background-image: url(../img/icons/media/photo1.svg);
}

.youtube-icon1 {
  background-image: url(../img/icons/media/youtube1.svg);
}

.py-3 {
  padding-top: 3px;
  padding-bottom: 3px;
}

