<div class="home-header">
	<header translate="INTRO_1"></header>
	<p translate="INTRO_1_1"></p>
</div>

<div class="row">		
		<div class="col-sm-8">        
            <div class="col-sm-12" ng-include="'partials/courses/popular_courses.html'"></div>
            <div class="col-sm-12" ng-include="'partials/webinar/webinars_panel.html'"></div>
        </div>
		<div class="col-sm-4" ng-include="'partials/users/login.html'"></div>
</div>

		


