<div class="navbar" ng-controller="navbarController as navCtrl">
    <div class="row">
      <div class="col-sm-2">
        <button class="up-menu-item" ui-sref="home">EDUCATORIUM</button>  
      </div>
      <div class="col-sm-10" ng-show="navCtrl.isLoggedIn()">
        <div clas="row nav-panel">
          <div class="col-sm-8">
            <div class="row">
              <div id="homeNavPanel" ng-if="navCtrl.isVisibleHomeNavPanel()" class="col-sm-6 animate-if">
              <button id="newCourseButton" class="up-menu-item navbar-icon" ng-click="navCtrl.onNewCourse()">
                <span class="nav-btn-txt">Nowy kurs</span>
              </button>      
              <button id="webinariumButton" class="up-menu-item navbar-icon" ng-click="navCtrl.onWebinarium()">
                <span class="nav-btn-txt">Webinaria</span>
              </button>      
              <button id="browseMyCoursesButton" class="up-menu-item navbar-icon" ng-click="navCtrl.onBrowseMyCourses()">
                <span class="nav-btn-txt">Przeglądaj</span>
              </button>
            </div>
            <div id="lessonNavPanel" ng-if="navCtrl.isVisibleLessonNavPanel()" class="col-sm-6 animate-if">
              <button id="returnButton" class="up-menu-item navbar-icon" ng-click="navCtrl.onReturnToCourse()">
                <span class="nav-btn-txt">Powrót</span>
              </button>
              <button id="newElementButton" class="up-menu-item navbar-icon" ng-click="navCtrl.onNewElement()">
                <span class="nav-btn-txt">Nowy element</span>
              </button>
            </div>
            </div>           
          </div>          
          <div class="col-sm-4">
            <div id="rightNavPanel">
              <div class="btn-group" uib-dropdown is-open="status.isopen">
                <button id="rightCaretButton" type="button" class="btn up-menu-item navbar-icon" uib-dropdown-toggle ng-disabled="disabled"></button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="rightCaretButton">
                  <li role="menuitem">
                      <a href="#" class="up-menu-item navbar-small-icon">
                        <span id="notificationsButton" class="navbar-small-icon">Powiadomienia</span>
                      </a>
                  </li>
                  <li role="menuitem">
                    <a href="#" class="up-menu-item navbar-small-icon" ng-click="navCtrl.logout()">
                        <span id="logoutButton" class="navbar-small-icon">Wyloguj</span>
                    </a>
                  </li> 
                </ul>
              </div>              
              </div>              
            </div>
          </div> 
        </div>        
    </div>
  </div>
	
</div>
