<div>
  
  <div class="form-title">Tworzenie webinarium</div> 
  
  <div class="webinar-creator">
      <div class="form-content">
          <div class="row">        
            <div class="col-sm-8 py-3">
              <input type="text" name="webinarTitle" class="form-control" ng-model="webinarCtrl.newWebinar.title" placeholder="Nazwa"/>  
            </div>  
          </div>
          <div class="row">        
            <div class="col-sm-8 py-3">
              <input type="text" name="webinarDesc" class="form-control" ng-model="webinarCtrl.newWebinar.description" placeholder="Opis skrócony"/>  
            </div>  
          </div>
          <div class="row">
            <label for="webinarAutostart">Działanie: </label>
            <select id="webinarAutostart" ng-model="webinarCtrl.newWebinar.autostart">
                <option value="true">Wystartuj automatycznie</option>
                <option value="false">Manualnie wystartuj, gdy będziesz gotowy</option>
            </select><br /><br />
          </div>
      </div>    
    
    <div class="webinar-creator-buttons">      
      <button class="btn-primary" ng-click="webinarCtrl.onCreateWebinar()">Utwórz</button>
      <button class="btn-default" ng-click="webinarCtrl.onCancelCreation()">Anuluj</button>
    </div>
  </div>  

</div>