<div>
  
  <div class="form-title">Tworzenie nowej lekcji</div> 
  
  <div class="lesson-creator">
    
    <div uib-alert ng-repeat="alert in lessonCtrl.alerts" class="alert-danger" dismiss-on-timeout="3000" close="lessonCtrl.closeAlert()">{{alert.msg}}</div>
    <div class="form-content">
      <div class="row">
        <div class="col-sm-8 py-3">          
          <div class="btn-group" uib-dropdown is-open="status.isopen">
            <select id="selectLessonChapter" ng-model="lessonCtrl.newLesson.chapterId">
              <option value="{{chapter.id}}" ng-repeat="chapter in lessonCtrl.getChapters()">{{chapter.title}}</option>
            </select>            
          </div>
        </div>       
      </div>
      <div class="row">        
        <div class="col-sm-8 py-3">
          <input type="text" name="lessonTitle" class="form-control" ng-model="lessonCtrl.newLesson.title" placeholder="Nazwa"/>  
        </div>  
      </div>
      <div class="row">        
        <div class="col-sm-8 py-3">
          <input type="text" name="lessonDesc" class="form-control" ng-model="lessonCtrl.newLesson.description" placeholder="Opis skrócony"/>  
        </div>  
      </div>
    </div>
      
    <div class="form-submit-panel">      
      <button class="btn-primary" ng-click="lessonCtrl.onCreateLesson()">Utwórz i przejdź do edycji</button>
      <button class="btn-primary" ng-click="lessonCtrl.onCreateLessonAndClose()">Utwórz i zamknij</button>      
      <button class="btn-default" ng-click="lessonCtrl.onCancelCreation()">Anuluj</button>
    </div>
  </div>  

</div>