<div ng-controller="lessonPageController as lessonCtrl">
  
  <div class="lesson-page-wrapper">
    <div class="lesson-button-panel">
    
    </div>
    <div class="lesson-elements-wrapper">
      <div class="lesson-element" ng-repeat="lessonEl in lessonCtrl.getLessonElements()">
        
      </div>
    </div>
  </div>
  
</div>