<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Martin Schulz - praca inżynierska</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/default_style.css" rel="stylesheet">       
</head>
<body>
	
	<div ng-include="'partials/top_navbar.html'"></div>
	
	<div class="container">
		<div ui-view></div>
	</div>	
	
	<div class="row footer">
      
		<ul ng-controller="langController as langCtrl" class="col-sm-2 col-sm-offset-5 lang-selection list-inline">
    	<li><button ng-click="langCtrl.switchLanguage('en')" class="btn btn-link">English</button></li>
    	|
    	<li><button ng-click="langCtrl.switchLanguage('pl')" class="btn btn-link">Polski</button></li>    	
    	</ul>
      
	</div> 
  
  <script data-main="js/require-config" src="js/require.js"></script>  
  
</body>
</html>
