<div ng-controller="coursePageController as courseCtrl">
  
  <div class="course-details-background"></div>
  <div class="course-details-image">
    <div class="new-course-image-default"></div>
  </div>
  
  <div class="course-details-wrapper">
    <div class="course-details">
      <h1>{{courseCtrl.courseObject.value.title}}</h1>
      <div class="course-details-label"> 
        Utworzony przez: {{courseCtrl.getCreatorName()}}  
      </div>
      <div class="course-details-label"> 
        Tutaj będzie opis skrócony.Tutaj będzie opis skrócony. 
        Tutaj będzie opis skrócony.Tutaj będzie opis skrócony.Tutaj będzie opis skrócony.
        Tutaj będzie opis skrócony.Tutaj będzie opis skrócony.Tutaj będzie opis skrócony.Tutaj będzie opis skrócony.
        Tutaj będzie opis skrócony.Tutaj będzie opis skrócony.Tutaj będzie opis skrócony.Tutaj będzie opis skrócony.
        Tutaj będzie opis skrócony.Tutaj będzie opis skrócony.
      </div>
    </div>
  </div>
  
  <div class="course-content-wrapper">
    <div class="course-chapters">
      <h3>Lekcje</h3>
      <div class="row">      
        <div class="col-sm-12 course-button-panel">
          <button class="btn-primary" ng-click="courseCtrl.onOpenLessonCreator()">Nowa lekcja</button>
        </div>
      </div>
      <uib-accordion close-others="true">
        <div uib-accordion-group class="row course-chapter" ng-repeat="chapter in courseCtrl.getChapters()">
          <uib-accordion-heading>{{chapter.title}}</uib-accordion-heading>
          <div class="col-sm-12 chapter-lesson" ng-repeat="lesson in courseCtrl.getLessons(chapter)" ng-click="courseCtrl.onLessonClick(lesson)">
            <div class="row">
              <div class="col-sm-7 chapter-lesson-title">{{lesson.title}}</div>
              <div class="col-sm-5 chapter-lesson-icons">
                <span class="small-media-icon paper-icon1" />
                <span class="small-media-icon youtube-icon1" />
                <span class="small-media-icon audio-icon1" />
                <span class="small-media-icon photo-icon1" />
              </div>
            </div>
          </div>
        </div>        
      </uib-accordion>
    </div>    
  </div>
  
  
</div>