<div ng-controller="myCoursesController as myCtrl">
  
  <h1>Moje kursy</h1>
  
  <div class="my-courses-wrapper">
    <div class="col-sm-12 my-course" ng-repeat="course in myCtrl.myCourses"  ng-click="myCtrl.goToCourse(course.value)">
      <div class="my-course-title">{{course.value.title}}</div>
      <div class="my-course-img"></div>
      
      <div class="row">
        <div class="col-sm-7 my-course-rating">{{course.value.rating}}</div><div class="col-sm-5 popular-course-votes">Votes: {{course.value.votes}}</div>
      </div>
            
    </div>
  </div>
  
</div>