<div ng-controller="courseCreatorController as courseCtrl">
  
  <h1>Kreator kursów</h1>
  
  <div class="row default-form">
    <div class="col-sm-4 col-sm-push-8">
      <div class="new-course-image-border">        
        <h3 class="form-header">Obraz kursu</h3>
        <div class="new-course-image-default"></div>
        <input type="file" name="courseImage" accept="image/*"><br />
      </div>
    </div> 
    <div class="col-sm-8 col-sm-pull-4">
      <h3 class="form-header">Szczegóły</h3>
      <div ng-form name="newCourseForm">
        <input type="text" name="courseTitle" class="form-control" ng-model="courseCtrl.newCourse.title" placeholder="Nazwa kursu: " 
               ng-required="true" ng-model-options="{updateOn: 'blur'}"/><br />     
        <textarea name="courseDescription" class="form-control" ng-model="courseCtrl.newCourse.description" placeholder="Opis kursu: " rows="3" /><br />
        <label for="selectCourseScope">Zasięg kursu: </label>
        <select id="selectCourseScope" ng-model="courseCtrl.newCourse.scope">
          <option value="public">Public</option>
          <option value="locked">Locked</option>
        </select><br /><br />
    
        <button class="btn btn-primary btn-action" ng-click="courseCtrl.saveNewCourse()" ng-disabled="newCourseForm.$invalid">Save</button>
        <button class="btn btn-default btn-action" ng-click="courseCtrl.cancelNewCourseCreation()">Cancel</button> 
      </div>          
    </div>    
  </div> 

</div>
