<div ng-controller="popularCoursesController as coursesCtrl">
  
  <h1>Popularne szkolenia</h1>
  <div class="popular-courses-wrapper">
    <div class="col-sm-3 popular-course" ng-repeat="course in coursesCtrl.popularCourses" ng-click="coursesCtrl.goToCourse(course.value)">
      
      <div class="popular-course-content">
        <div class="row popular-course-title">{{course.value.title}}</div>      
        <div class="row">
          <span uib-rating ng-model="course.value.rating" read-only="true" aria-labelledby="default-rating"></span>
        </div>
      </div>      
    </div>
  </div>
  
</div>