<div ng-controller="loginController as loginCtrl" ng-show="!loginCtrl.isLoggedIn()">
	<div class="col-sm-10 col-sm-offset-1 login-form">			
		<div class="col-sm-12" ng-show="loginCtrl.tabIndex==0" ng-form name="registerForm">
			<h2 translate="REGISTER"></h2>
			<input type="text" name="firstName" class="form-control" ng-model="loginCtrl.registerInfo.firstName" placeholder="{{'FIRST_NAME' | translate}}" ng-required="true" ng-model-options="{updateOn: 'blur'}"></input>            
            <small ng-show="registerForm.firstName.$dirty && registerForm.firstName.$invalid" class="invalid-form-input-info">{{'INVALID_REQUIRED_FIELD' | translate}}</small>            
			<input type="text" name="lastName" class="form-control" ng-model="loginCtrl.registerInfo.lastName" placeholder="{{'LAST_NAME' | translate}}" ng-required="true" ng-model-options="{updateOn: 'blur'}"></input>
            <small ng-show="registerForm.lastName.$dirty && registerForm.lastName.$invalid" class="invalid-form-input-info">{{'INVALID_REQUIRED_FIELD' | translate}}</small>  
			<input type="email" name="email" class="form-control" ng-model="loginCtrl.registerInfo.email" placeholder="Email" ng-required="true" ng-model-options="{updateOn: 'blur'}"></input>
            <small ng-show="registerForm.email.$dirty && registerForm.email.$invalid" class="invalid-form-input-info">{{'INVALID_REQUIRED_EMAIL' | translate}}</small> 
			<input type="password" name="password" class="form-control" ng-model="loginCtrl.registerInfo.password" placeholder="{{'PASSWORD' | translate}}" ng-required="true" ng-model-options="{updateOn: 'blur'}"></input>
            <small ng-show="registerForm.password.$dirty && registerForm.password.$invalid" class="invalid-form-input-info">{{'INVALID_REQUIRED_FIELD' | translate}}</small>             
			<button class="btn btn-primary" translate="REGISTER" ng-click="loginCtrl.registerUser()" ng-disabled="registerForm.$invalid"></button>
			<button class="btn btn-link" translate="SIGN_IN" ng-click="loginCtrl.trigger()"></button>            
		</div>
		<div class="col-sm-12" ng-show="loginCtrl.tabIndex==1" ng-form name="loginForm">
			<h2 translate="SIGN_IN"></h2>
			<input type="email" name="email" class="form-control" ng-model="loginCtrl.loginInfo.email" placeholder="Email" ng-required="true" ng-model-options="{updateOn: 'blur'}"></input>            
			<input type="password" name="password" class="form-control" ng-model="loginCtrl.loginInfo.password" placeholder="{{'PASSWORD' | translate}}" ng-required="true" ng-model-options="{updateOn: 'blur'}"></input>            
			<button class="btn btn-primary" ng-click="loginCtrl.loginUser()" translate="SIGN_IN"></button>
			<button class="btn btn-link" translate="REGISTER" ng-click="loginCtrl.trigger()"></button>					
		</div>		
	</div>	
</div>


