<div ng-controller="loginController as loginCtrl">
  <div class="col-sm-10 col-sm-offset-1 login-form">
    <div class="col-sm-12" ng-show="loginCtrl.tabIndex==0" ng-form name="registerForm">
      <h1>{{'REGISTER_CORRECTIONS' | translate}}</h1>
      <h1>{{'REGISTER_ACCOUNT_DETAILS' | translate}}</h1>
      <h1>{{'REGISTER_SUCCESS' | translate}}</h1>
    </div>
  </div>		
</div>


