<div ng-controller="webinarsPanelController as webinarsCtrl">
  
  <div class="row">
    <h1>Aktualne szkolenia na żywo</h1>
    <div class="webinars-online-wrapper">
      <div class="no-webinars-online">
        W tej chwili nie odbywa się żadne szkolenie.
      </div>
      <div class="col-sm-3 webinar webinar-online" ng-repeat="webinar in webinarsCtrl.webinarsOnline" ng-click="webinarsCtrl.joinWebinar(webinar)">
        <div class="webinar-online-content">
          <div class="row webinar-title">{{webinar.title}}</div>        
        </div>      
      </div>
    </div>
  </div>

  <div class="row">
    <h1>Zakończone szkolenia na żywo</h1>
    <div class="webinars-offline-wrapper">
      <div class="no-webinars-offline">
        Lista zakończonych szkoleń jest pusta. 
      </div>
      <div class="col-sm-3 webinar-offline" ng-repeat="webinar in webinarsCtrl.webinarsOffline">
        <div class="webinar webinar-offline-content">
          <div class="row webinar-title">{{webinar.title}}</div>        
        </div>      
      </div>
    </div>
  </div>

</div>


  
