<div ng-controller="webinarHomeController as webinarCtrl">
  
  <h1>Szkolenia na żywo</h1>
  
  <div class="webinar-home-panel">
    <button class="btn-primary" ng-click="webinarCtrl.onOpenWebinarCreator()">Stwórz webinarium</button>  
  </div>

</div>