<div>
  
  <div class="form-title">Dodawanie nowego elementu lekcji</div> 
  
  <div class="element-creator">
    
    <div uib-alert ng-repeat="alert in elementCtrl.alerts" class="alert-danger" dismiss-on-timeout="3000" close="elementCtrl.closeAlert()">{{alert.msg}}</div>
    <div class="form-content">
      <div class="row">
        <div class="col-sm-8 py-3">          
          <div class="btn-group" uib-dropdown is-open="status.isopen">
            <select id="selectElementType" ng-model="elementCtrl.newElement.contentType" ng-change="elementCtrl.onElementTypeChange()">
              <option value="text">Text</option>
              <option value="img">Obraz</option>
              <option value="audio">Audio</option>
              <option value="video">Film</option>
            </select>            
          </div>
        </div>       
      </div>
      <div class="row">        
        <div class="col-sm-12 py-3">
          <input type="text" name="elementTitle" class="form-control" ng-model="elementCtrl.newElement.title" placeholder="Nazwa"/>  
        </div>  
      </div>
      <div class="row">        
        <div class="col-sm-12 py-3">
          <textarea name="textContent" class="form-control" ng-model="elementCtrl.newElement.content.text" placeholder="Treść" rows="25"/>
          <div class="media-element-content">            
            <input type="file"
                   id="imgContent" class="filechooser" name="imgContent" accept="image/*"
                   nv-file-select uploader="elementCtrl.imgUploader" />
            <label for="imgContent">Choose image</label>
            <ul>
              <li ng-repeat="item in elementCtrl.imgUploader.queue">
                Name: <span ng-bind="item.file.name"></span>                
              </li>
            </ul>
          </div>
          <div class="media-element-content">            
            <input type="file" 
                   id="audioContent" class="filechooser" name="audioContent" accept="image/*"
                   nv-file-select uploader="elementCtrl.audioUploader" />
            <label for="audioContent">Choose audio</label>
            <ul>
              <li ng-repeat="item in elementCtrl.audioUploader.queue">
                Name: <span ng-bind="item.file.name"></span>                
              </li>
            </ul>
          </div>
          <div class="media-element-content">
            <input type="text" name="videoUrl" class="form-control" ng-model="elementCtrl.newElement.content.videoUrl" placeholder="Nazwa"/> 
          </div>
        </div>  
      </div>
    </div>
      
    <div class="form-submit-panel">      
      <button class="btn-primary" ng-click="elementCtrl.onCreateElement()">Utwórz i przejdź do edycji</button>
      <button class="btn-primary" ng-click="elementCtrl.onCreateElementAndClose()">Utwórz i zamknij</button>      
      <button class="btn-default" ng-click="elementCtrl.onCancelCreation()">Anuluj</button>
    </div>
  </div>  

</div>